absl-py==0.8.1
astor==0.8.0
biopython==1.75
cycler==0.10.0
gast==0.3.2
google-pasta==0.1.8
grpcio==1.25.0
h5py==2.10.0
joblib==0.14.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
llvmlite==0.30.0
Markdown==3.1.1
matplotlib==3.1.1
numba==0.46.0
numpy==1.17.4
pandas==0.25.3
git+ssh://git@github.com/jacoblevine/PhenoGraph.git#egg=PhenoGraph==1.5.2
pickleshare==0.7.5
Pillow==6.2.1
protobuf==3.10.0
psutil==5.6.5
pyparsing==2.4.5
python-dateutil==2.8.1
pytz==2019.3
scikit-learn==0.21.3
scipy==1.3.2
seaborn==0.9.0
six==1.13.0
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
tensorflow-gpu==1.14.0
termcolor==1.1.0
umap-learn==0.3.10
Werkzeug==0.16.0
wrapt==1.11.2
